<div class="container mt-3 triva-game">
  <h2>Question {{ currentQuestionIndex + 1 }}</h2>
  <div
    class="long-text question-section"
    [innerHTML]="currentQuestion?.question"
  ></div>

  <div
    class="answer-section d-flex flex-wrap justify-content-between md-6 pt-2"
  >
    <button
      *ngFor="let answer of shuffledAnswers; let i = index"
      (click)="checkAnswer(answer)"
      [innerHTML]="answer"
      class="btn btn-primary btn-lg answer-button"
      [ngClass]="{
        'answer-button-1': i === 0,
        'answer-button-2': i === 1,
        'answer-button-3': i === 2,
        'answer-button-4': i === 3
      }"
    ></button>
  </div>

  <div class="timer-section">
    <h3>
      Time left: <span [ngClass]="{ blinking: blinking }">{{ timeLeft }}</span
      >s
    </h3>
  </div>
</div>
