.btn-primary {
  border-color: #00000000;
}
.answer-button-1 {
  background-color: #57c7ff;
}

.answer-button-2 {
  background-color: #e85e75;
}

.answer-button-3 {
  background-color: #ebd775;
}

.answer-button-4 {
  background-color: #66e64d;
}

.trivia-game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trivia-game,
h2,
p {
  margin-bottom: 1rem;
  overflow: hidden;
  text-align: center;
  font-size: 2rem;
}
.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 20px;
  justify-items: center;
  min-height: 449px;
}

h2 {
  grid-row: 1;
  font-weight: 700;
}

p {
  grid-row: 2;
  overflow: auto;
}
.timer-section {
  grid-row: 4;
}

.question-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes blink {
  0% {
    color: rgb(188, 0, 0);
  }
  50% {
    color: transparent;
  }
  100% {
    color: rgb(135, 0, 0);
  }
}

.blinking {
  animation: blink 1s linear infinite;
}

.answer-section {
  @media screen and (max-width: 815px) {
    flex-direction: column;
    align-items: center;
  }
}
