<div class="container mt-3">
  <h1>Welcome to the best <span class="span-text">Trivia</span> game ever!</h1>
  <div class="long-text">
    You will be participating in a trivia game consisting of 7 questions. For
    every correct answer, you will earn 1 point. Each question will provide you
    with 4 options: one correct answer and three incorrect answers. You will
    have 31 seconds to respond to each question. Please indicate your preferred
    category and difficulty level.
  </div>
  <form (ngSubmit)="startGame()">
    <div class="form-group mt-3">
      <label for="category" class="label">Category</label>
      <select
        [(ngModel)]="selectedCategory"
        name="selectedCategory"
        class="form-control label"
      >
        <option value="any">Any Category</option>
        <option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </option>
      </select>
    </div>
    <div class="form-group mt-3">
      <label for="difficulty" class="label">Difficulty</label>
      <select
        [(ngModel)]="selectedDifficulty"
        name="selectedDifficulty"
        class="form-control"
      >
        <option value="any">Any</option>
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary mt-3 mb-3 submit-button">
      Play
      <img src="../../../assets/images/Vector.svg" class="arrow-image" />
    </button>
  </form>
</div>
