.retry-image {
  max-height: 24px;
}

.retry-button {
  font-weight: 600;
  background: #222327;
  border-color: #222327;
}

.your-score {
  font-size: 2rem;
}

.trivia-result {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-tag {
  border: none;
  border-radius: 7px 0px 0px 7px;
}

.submit-button {
  font-weight: 600;
  background: #222327;
  color: #ffffff;
}
